# Binary files
bin/

# Vendor directory
vendor/

# IDE/editor configurations
.vscode/
.idea/

# Wire
wire/wire_gen.go

# Cache, test results, and profiling
*.out
*.prof

# Environment files
.env
*.local
app.config.json

# Log files
*.log